* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}

.navbar {
	height: 50px;
	background-color: #4e4e4e;
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	display: flex;
	align-items: center;
	color: #f1f1f1;
}

.navbar-container {
	margin-left: 3%;
	margin-right: 3%;
	display: flex;
	justify-content: space-between;
}

ul {
	display: none;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.landing-page-container {
	height: calc(100vh - 50px);
	background-image: url('../images/background-image.jpg');
	background-position: center;
	background-size: cover;
}

.landing-page-container__shadow {
	background-color: rgba(200, 200, 200, 0.15);
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.landing-page-content {
	color: #ffffff;
	margin-left: 3%;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	font-weight: 700;
}

.landing-page-content__header {
	font-size: 36px;
	line-height: 41px;
}

.landing-page-content__text {
	font-size: 18px;
	line-height: 21px;
}

.landing-page-content__button {
	padding: 10px 56px;
	text-align: center;
	font-size: 18px;
	line-height: 21px;
	border: 3px solid #ffffff;
	color: #ffffff;
	background-color: transparent;
	transition: color 1s;
}

#about-us {
	background-color: #f1f1f1;
	padding-top: 55px;
}

.about-us-container {
	margin-left: 3%;
	margin-right: 3%;
}

.about-us-container__header {
	font-size: 36px;
	text-align: center;
	color: #152d41;
	line-height: 42px;
	padding-bottom: 55px;
	font-weight: 700;
}

.person {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 55px;
}

.person__photo1,
.person__photo2 {
	text-align: center;
	width: 197px;
	height: 197px;
	border-radius: 50%;
	aspect-ratio: 1;
	background-size: cover;
	margin: 0 auto;
	display: block;
	margin-left: 3%;
	margin-right: 3%;
}

.person__photo1 {
	background-image: url('/images/person1.jpg');
}

.person__photo2 {
	background-image: url('/images/person2.jpg');
}

.person__text {
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	padding-top: 55px;
}

.person__name {
	margin-bottom: 3%;
	font-weight: 700;
}

.person__description {
	font-weight: 400;
}

#offer {
	background-color: #405d78;
	padding-top: 55px;
}

.offer-container {
	margin-left: 3%;
	margin-right: 3%;
}

.offer-container__header {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
	padding-bottom: 55px;
	text-align: center;
}

.offer-container__service {
	display: grid;
	grid-gap: 55px;
	padding-bottom: 55px;
	grid-template-rows: repeat(6, 200px);
}

.new-service,
.standard-service {
	height: 200px;
	width: 200px;
	background-color: #ffffff;
	text-align: center;
	margin: 0 auto;
	position: relative;
	transition: 0.5s;
}

.new-service__text,
.standard-service__name {
	color: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 100%;
	font-weight: 400;
}

.new-service__name,
.standard-service__name {
	font-size: 24px;
	line-height: 28px;
}

.new-service__new {
	font-size: 18px;
	line-height: 21px;
}

.new-service__dot {
	position: absolute;
	bottom: 185px;
	right: 185px;
	width: 30px;
	height: 30px;
	background-color: #e07a64;
	border-radius: 50%;
	aspect-ratio: 1;
}

footer {
	height: 147px;
	background-color: #4e4e4e;
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer-container {
	margin-left: 3%;
	margin-right: 3%;
	text-align: center;
}

.footer-container__content {
	padding-bottom: 20px;
}

.footer-container__icons {
	font-size: 30px;
	height: 30px;
	width: 80px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

@media (min-width: 768px) {
	.landing-page-content {
		width: 577px;
	}

	.about-us-container,
	.offer-container,
	.footer-container {
		margin: 0 auto;
		margin-left: 3%;
		margin-right: 3%;
	}

	.about-us-container__header,
	.offer-container__header {
		text-align: start;
	}

	.person {
		flex-direction: row;
	}

	.person:nth-of-type(even) {
		flex-direction: row-reverse;
		text-align: right;
	}

	.person__text {
		text-align: inherit;
	}

	.offer-container__service {
		grid-template-columns: repeat(2, 200px);
		grid-template-rows: repeat(3, 200px);
		justify-content: center;
	}
}

@media (min-width: 1024px) {
	.navbar-container,
	.about-us-container,
	.offer-container,
	.footer-container,
	.landing-page-content {
		width: 960px;
		margin: 0 auto;
	}

	ul {
		list-style-type: none;
		display: flex;
		font-weight: 400;
	}

	li {
		padding-left: 46px;
	}

	a {
		text-decoration: none;
		color: #f1f1f1;
	}

	.disabled-link {
		cursor: not-allowed;
	}

	.landing-page-content {
		height: 230px;
	}

	.landing-page-content__button:hover {
		background-color: #ffffff;
		color: #000000;
	}

	.offer-container__service {
		grid-template-columns: repeat(3, 200px);
		grid-template-rows: repeat(2, 200px);
	}

	.new-service:hover,
	.standard-service:hover {
		transform: scale(1.05);
	}

	footer {
		height: 71px;
	}

	.footer-container {
		display: flex;
		justify-content: space-between;
	}

	.footer-container__content {
		padding-bottom: 0px;
		display: flex;
		align-items: center;
	}

	.footer-container__icons {
		margin: unset;
	}
}
